@charset "UTF-8";

body{
  font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif,arial;
  margin: 0;
  font-size: 15px;
}

li{
  list-style: none;
}

.site h1{
  margin: 0;
  font-size: 30px;
}

.site img{
  border: none;
}

.news{
  padding: 20px;
  border: solid 5px #dddddd;
}


#slideshow{
  pointer-events: none;
  float: left;
}

#slideshow > li{
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  -webkit-transition : opacity 1s;
  -moz-transition : opacity 1s;
  -o-transition : opacity 1s;
  -ms-transition:opacity 1s;
}

#slideshow > li.current{
  opacity: 1;
}

.topimage{
  width: 500px;
  height: 200px;
  margin-bottom: 100px;

}

.fadeIn{
  display: none;
}

.protein h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}

.protein p{
  margin-top: 0;
  margin-bottom: 0;
}

.protein a{
  display: block;
  background-color: black;
  text-align: center;
  text-decoration: none;
}

.protein i{
  font-size: 38px;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hide{
  display: none;
}



.news h1{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}


.news ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.news li a{
  display: block;
  padding: 5px;
  text-decoration: none;
}

.news li a:hover{

}

.follow ul{
  margin: 0;
  padding: 0;
}

.follow li a{
  display: block;
  padding: 5px;
  font-size: 14px
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 4px;
}

.follow li a:hover{
  opacity: 0.8px;
}

.follow i{
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
}

.twitter{
  background-color: #63bafb;
  color: white;
}

.facebook{
  background-color: #5288f7;
  color: white;
}

.google{
  background-color: #dd4a40;
  color: white;
}

.copyright p{
  margin: 0;
}

.box5{
  background-color: #009fde;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*左右の余白*/
.boxA, .box4, .box5 , .box6{
  padding-right: 15px;
  padding-left: 15px;
}

/*boxの上下*/
.boxA{
  padding-top: 20px;
  padding-bottom: 15px;
}

.box4{
  padding-top: 20px;
  padding-bottom: 20px;

}

.box4-1{
  padding-bottom: 20px;
}

.box6{
  padding-top: 200px;
}

.box6-1, .box6-2, .box6-3{
  padding-bottom: 10px;
}

.box6 h1, p{
  text-align: center;
}

/*359px 以下*/
@media (max-width:359px){
  .site img{
    margin-right: 30px;
    width: 225px;
    height: auto;
  }
}
/* 599px以下*/

@media (max-width:599px){

  #header{
    width: 200px;
  }

  #menubtn i{
    color: #888888;
    font-size: 18px;
    padding: 6px 12px;
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    background-color: #ffffff;

  }

  #menubtn span{
    display: inline-block;
    text-indent: -9999px;
  }

  #menubtn{
    padding: 6px 12px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
  }

  .menu li a{
    padding:10px 7px;
    font-size: 11px;
  }

  #menu{
    display: none;

  }

  .topimage{
    width: 276px;
    height: 230px;
    margin-bottom: 140px;
  }

  .box3 button, .fadeIn{
    display: none;
  }


  .box6{
    margin-top: 10px;
  }



}
/*  768px 以上*/
/*box1&2を横に並べる*/

@media (min-width:767px){

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu{
    padding-left: 800px;
  }


  .menu ul{
    margin: 0;
    padding: 0;
  }

  .menu li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }

  .menu li a:hover{
    background-color:;
  }

  .menu ul:after{
    content: "";
    display: block;
    clear: both;
  }

  .menu li{
    float: left;
    width: auto;
    padding-right: 15px;
  }


.boxA:after{
  content: "";
  display: block;
  clear: both;
}

.box1{
  float: left;
  width: auto;

}

.box2{
  float: right;
  width: auto;
}

.topimage{
  width: 700px;
  height: 200px;
}

.box3 button, .fadeIn{
  margin-left: 800px;
}

.fadeIn{
  font-family: "Arial Black";
}

#btn{
  background-color: #009fde;
  border-radius: 60px;
  border-color: #009fde;
  color: #FFF;
  cursor: pointer;
  font-family: "Arial Black";
  font-size: 14px;
  height:60px;
  line-height: 50px;
  text-align: center;
  top: 50px;
  width: 60px;
}

#btn:hover{
  animation: anim 0.4s 1;
  -webkit-animation: anim 0.4s 1;
  -moz-animation: anim 0.4s 1;
  -o-animation: anim 0.4s 1;
  font-size: 28px;
  height: 100px;
  line-height: 100px;
  top: 25px;
  width: 100px;
}

@keyframes anim{

  0% {
    font-size: 14px;
    width: 50px;
    line-height: 50px;
    height: 50px;
    top: 50px;
  }

  25%{
    font-size: 33.6px;
    width: 120px;
    line-height: 120px;
    height: 120px;
    top: 15px;
  }

  50%{
    font-size: 25.2px;
    width: 90px;
    line-height: 90px;
    height: 90px;
    top: 30px;
  }

  100%{
    font-size: 28px;
    width: 100px;
    line-height: 100px;
    height: 100px;
    top: 25px;
  }
}

.protein i{
    background-color: #009fde;
    text-align: center;
    border-radius: 5px;
    color: white;
}


/* BOX4-1 & 2 横にする*/
.box4:after{
  content: "";
  display: block;
  clear: both;
}

.box4-1{
  float: left;
  width: 70%;
  padding-right: 35%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.box4-2{
  float: left;
  width: 30%;
}

/*box6 を横に並べる*/
.box6:after{
  content: "";
  display: block;
  clear: both;
}

.box6-1{
  float: left;
  width: 32%;
  margin-right: 2%;
}

.box6-2{
  float: left;
  width: 32%;
  margin-right: 2%;
}

.box6-3{
  float: left;
  width: 32%;

}

}

/*1190以上*/
@media (min-width:1190px){

  .box3, .box4, .boxA-inner, .box5-inner, .box6, #slideshow,{
    width:1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .boxA{
    margin-bottom: 20px;
    border-bottom: solid 1px #dddddd;
  }





}
